
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

    <hr />

<body>
    <span class="fs-4 title pb-5 mb-0">Publications</span>
    <br />
    <br />
    <div class="paragraph " style="text-align:left;">
    <b>Streaming Belief Propagation for Community Detection</b></br>
    Y. Wu, MH. Bateni, A. Linhares, FMG. de. Almeida, A. Montanari, A. Norouzi-Fard, J. Tardos</br>
    <i>Neural Information Processing Systems, 2021.</i></br>
    [<a href = "https://arxiv.org/abs/2106.04805">arXiv</a>, <a href="https://nips.cc/virtual/2021/poster/26073">conference</a>, <a href="https://wuyc0114.github.io/pdf/neurips2021.pdf"> poster</a>]<br>
    </div>
    <br />
    <div class="paragraph " style="text-align:left;">
    <b>Attributing Sources of Surface Water Pollutants in the Maumee River Basin Using Network Modeling</b></br>
    Z. Wei, M. Verma, Y. Wu, S. Alam, B. Anderson, D. Ho, J. Suckale</br>
    <i>AGU Fall Meeting, 2021.</i></br>
    [<a href="https://agu.confex.com/agu/fm21/meetingapp.cgi/Paper/877388">conference</a>]<br>
    </div>
    <br />
    <div class="paragraph " style="text-align:left;">
    <b>The estimation error of general first order methods</b></br>
    M. Celentano, A. Montanari, Y. Wu</br>
    <i>Conference on Learning Theory, 2020.</i></br>
    [<a href = "https://arxiv.org/abs/2002.12903">arXiv</a>, <a href="http://proceedings.mlr.press/v125/celentano20a.html">conference</a>]<br>
    </div>
    
</body>
</html>
