<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<body>
    
    <span class="fs-4 title pb-5 mb-0">Preprints</span>
    <br />
    <br />
    <div class="paragraph" style="text-align:left;">
        <b>Adversarial Examples in Random Neural Networks with General Activations</b></br>
        A. Montanari, Y. Wu</br>
        [<a href = "https://arxiv.org/abs/2203.17209">arXiv</a>]<br>
        </div>
    <br />
    <div class="paragraph" style="text-align:left;">
        <b>Statistically Optimal First Order Algorithms: A Proof via Orthogonalization</b></br>
        A. Montanari, Y. Wu</br>
        [<a href = "https://arxiv.org/abs/2201.05101">arXiv</a>, <a href="https://www.youtube.com/watch?v=R4mw9VFe_Cc&t=157s">Andrea's talk</a>]<br>
        </div>
    <br />
</body>
</html>
