<body>
    <span class="fs-4 title pb-5 mb-0">Talks</span>
    <br /><br />
    <ul>
        <li><p><strong>
            Fundamental Limits of Low-Rank Matrix Estimation with Diverging Aspect Ratios.</strong> <em>Information Systems Laboratory Colloquium at Stanford University, December 2022.</em></p>
          </li>
        <li><p><strong>
            Fundamental Limits of Low-Rank Matrix Estimation with Diverging Aspect Ratios.</strong> <em>Stanford Berkeley Joint Colloquium, November 2022.</em></p>
          </li>
        <li><p><strong>
            Adversarial Examples in Random Neural Networks with General Activations.</strong> <em>SIAM Conference on Mathematics of Data Science, September 2022.</em></p>
          </li>
      <li><p><strong>
            Adversarial Examples in Random Neural Networks with General Activations.</strong> <em>TBSI Workshop on Learning Theory, Young Researchers’
Forum session, August 2022.</em></p>
        </li>
      <li><p><strong>
            Adversarial Examples in Random Neural Networks with General Activations.</strong> <em>2022 ICSA China Conference, July 2022.</em></p>
        </li>
        
        <li><p><strong>
            Streaming belief propagation for community detection.</strong> <em>AI TIME PhD, Tsinghua University, February 2022.</em></p>
        </li>
        
        <li><p><strong>
            Streaming belief propagation for community detection.</strong> <em>Yuling Jiao's group meeting, Wuhan University, January 2022.</em></p>
        </li>
      
      <li><p><strong>
          Streaming belief propagation for community detection.</strong> <em>Thirty-fifth Conference on Neural Information Processing Systems, December 2021.</em> [<a href="/pdf/nips2021.pdf">slides</a>]</p>
      </li>
      
      <li><p><strong>
          Asymmetric estimation of low rank matrix: Statistical and computational limits.</strong> <em>No-retreat day student seminar, Department of Statistics, Stanford University, November 2021.</em></p>
      </li>
      
      <li><p><strong>
          Asymmetric estimation of low rank matrix: Statistical and computational limits.</strong> <em>Joint Statistical Meeting, August 2021.</em> [<a href="/videos/JSM2021.mp4">video</a>] [<a href="/pdf/JSM2021.pdf">slides</a>]</p>
      </li>
      
     
      
      
      
    </ul>
</body>
