<body>
    <span class="fs-4 title pb-5 mb-0">Teaching Assistant</span>
    <br /><br />
    <ul>
      <li>STATS 200 - Statistical Inference. Autumn 2018-2019, Autumn 2020-2021.</li>
      <li>STATS 216 - Introduction to Statistical Learning. Winter 2018-2019.</li>
      <li>STATS 60 - Introduction to Statistical Methods. Summer 2018-2019, Summer 2019-2020, 2022.</li>
      <li>Math 230A / Stat 310A - Theory of Probability. Autumn 2019-2020.</li>
      <li>STATS 218 - Introduction to Stochastic Processes II. Spring 2019-2020.</li>
      <li>Math 230B / Stat 310B - Theory of Probability. Winter 2020-2021.</li>
      <li>Math 230C / Stat 310C - Theory of Probability. Spring 2020-2021.</li>
      <li>STATS 214 / CS 229M - Machine Learning Theory. Autumn 2021-2022</li>
      <li>STATS 217 - Introduction to Stochastic Processes I. Winter 2021-2022.</li>
      <li>STATS 203 - Introduction to Regression Models and Analysis of Variance. Spring 2021-2022.</li>
    </ul>
</body>
