---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
      <p>
      I am a PhD student in the <a href="https://statistics.stanford.edu/">Department of Statistics</a> at <a href="https://www.stanford.edu/">Stanford University</a>, advised by Professor <a href="https://web.stanford.edu/~montanar/">Andrea Montanari</a>. Prior to Stanford, I received my Bachelor's degree in mathematics from <a href="https://www.tsinghua.edu.cn/en/">Tsinghua University</a>. I am also fortunate to be advised by Professor <a href="https://imjohnstone.su.domains/">Iain Johnstone</a> and Professor <a href="https://tselilschramm.org/">Tselil Schramm</a> on certain projects.

      <br />
      <br />
      My research interests include high-dimensional statistics, theory of deep learning, sampling, and optimization.
      <!-- Here is my <a href="https://scholar.google.com/citations?user=jAAj2XoAAAAJ&hl=en&oi=ao">Google Scholar</a> page. -->
      </p>

  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/profile.jpg" alt="Home" width="60%">
  </div>
</div>
